@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', crossorigin;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}

/* Basic Tool */
:root {
    --black-color: #000000;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--black-color);
    color: var(--white-color);
}
/* Top Menu  */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.home .home-box nav {
    width: 100%;
    height: 65px;
    background: var(--black-color);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--black-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu .close {
    display: none;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}
.pricing-table {
  padding:40px 0px;
}
.pricing-table  .details{
  width:90%;
  max-width:500px;
  text-align:center;
  margin:0 auto;
  padding:40px 20px;
}
.pricing-table  .details h2 {
  font-size:30px;
  margin-bottom:10px;
}
.pricing-table  .details p {
  font-size:15px;
}
.pricing-table  .grid {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px 0px;
  padding:20px;
}
.pricing-table  .grid .box {
  width:250px;
  border:1px solid #eee;
  text-align:centre;
  padding:20px;
  background:#fff;
  border-radius: 59px;
box-shadow:  12px 12px 23px #5c5c5c,
             -12px -12px 23px #ffffff;
}
.pricing-table  .grid .box .title {
  font-size:16px;
  font-weight:600px;
  margin-bottom:20px;
  color:#555;
}
.pricing-table  .grid .box .price {
  margin-bottom:20px;
}
.pricing-table  .grid .box .price b {
  display:block;
  font-size:40px;
  margin-bottom:-5px;
}
.pricing-table  .grid .box .features > * {
  color:#555;
  padding:8px 0px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.pricing-table  .grid .box.professional {
  transform:scale(1.1);
  background:#000000;
}
.pricing-table  .grid .box.professional .title{
  color:#eee;
}
.pricing-table  .grid .box.professional .price{
  color:#fff;
}
.pricing-table  .grid .box.professional .features> *{
  color:#fff;
  border-bottom:1px solid rgba(255,255,255,0.5);
}

@media (max-width:804px){
  .pricing-table .grid{
    gap:20px;
  }
  .pricing-table  .grid .box.professional {
    transform:scale(1);
  }
}

/* Footer Section */
footer {
    padding:  1rem;
    width: 100%;
}

footer .footer {
    background: var(--black-color);
    border-radius: .7rem;
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--white-color);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #efefef;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
}

footer .footer .container a:hover {
    color: var(--white-color);
}

footer .footer .container span {
    color: #000;
    background: #efefef;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}