@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', crossorigin;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}

/* Basic Tool */
:root {
    --black-color: #000000;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--black-color);
    color: var(--white-color);
}
/* Top Menu  */
html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color:  #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.home .home-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("C:/Users/Kesharan Kyle Pillay/Desktop/LUVIDICUS/files/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius: .5rem;
}

.home .home-box nav {
    width: 100%;
    height: 65px;
    background: linear-gradient(rgb(255,255,255,.2),rgb(255,255,255,.2));
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

.home .home-box nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .home-box nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home .home-box nav .logo .bar:hover {
    color: var(--green-color);
}

.home .home-box nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu .close {
    display: none;
}

.home .home-box nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.home .home-box nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
}

.home .home-box nav .menu ul li a:hover {
    color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home .home-box nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

.home .home-box .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -65px);
}

.home .home-box .content h5 {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home .home-box .content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home .home-box .content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}


/* Featured Section */

.featured .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding:  5rem 0;
}

.featured .container .box {
    padding: 0 1rem;
    text-align: center;
    max-width: 30rem;
    transform: translate(0, 100px);
    opacity: 0;
}

.featured .container .box img {
    height: 10rem;
}

.featured .container .box h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;
}

.featured.container .box p {
    color: #666;
}

/* Item Section */
.items{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.items .container {
    width: 100%;
}

.items .container .container-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.items .container .container-box .heading {
    max-width: 30rem;
}

.items .container .container-box .content {
    max-width: 35rem;
}

.items .container .container-box .content p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 1rem;
}

.items .container .container-box .content a {
    color: var(--green-color);
    font-weight: 600;
}

.items .container .container-box .content a i {
    margin-left: .5rem;
}

.items .container .container-box .content a:hover i {
    margin-left: .1rem;
}

.gallery {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .box {
    height: 23rem;
    flex-grow: 1;
    overflow: hidden;
    border-radius: .8rem;
    position: relative;
}

.gallery .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery .box .text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem;
    left: 0;
    z-index: 1;
}

.gallery .box .text h2 {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}

.items .container .container-box .heading,
.items .container .container-box .content {
    transform: translate(-200px);
    opacity: 0;
}

.items .gallery .box {
    transform: translate(0, 100px);
    opacity: 0;
}

/* Preminum Section */

.preminum {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.preminum .gallery .box:first-child {
    border: 1px solid rgba(0,0,0,.3);
    padding: 2rem 1.5rem;
}

.preminum .gallery .box:first-child h2 {
    margin-bottom: .5rem;
}

.preminum .gallery .box:first-child p {
    margin-bottom: .5rem;
    color:  #666;
}

.preminum .gallery .box:first-child a {
    position: absolute;
    bottom: 2rem;
    padding: .4rem 1rem;
    color: var(--white-color);
    background: var(--black-color);
    border-radius: 3rem;
    font-size: .9rem;
    font-weight: 400;
}

.preminum .gallery .box:first-child a:hover {
    background: #000000;
}

.preminum .gallery .box:first-child .image {
    width: 40%;
    position: absolute;
    bottom: -1rem;
    right: 2rem;
}

.preminum .gallery .box .content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 2rem;
}

.preminum .gallery .box .content h2 {
    font-weight: 500;
    color: var(--white-color);
}

.preminum .gallery .box .content p {
    font-size: .9rem;
    color: #eee;
}

.preminum .gallery .box .content .review-and-idr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preminum .gallery .box .content .review-and-idr p {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white-color);
}

.preminum .gallery .box {
    transform: translate(0, 100px);
    opacity: 0;
}

/* News Section */
.article {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.article .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.article .container .latest-article,
.article .container .more-article {
    width: 100%;
    flex:  1 0 350px;
}

.article .container .latest-article img {
    width: 100%;
    height: 28rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.article .container .latest-article p {
    margin: .8rem 0;
    color: #666;
}

.article .container .latest-article h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.article .container .latest-article .author {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.article .container .latest-article .author img {
    width: 30px;
    height: 30px;
    border-radius: 3rem;
}

.article .container .latest-article .author p {
    font-size: .9rem;
}

.article .container .more-article {
    display: grid;
    gap: 1rem;
    overflow: hidden;
}

.article .container .more-article .box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.article .container .more-article .box img {
    width: 135px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.article .container .more-article .text h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.article .container .more-article .text li {
    margin-top: .3rem;
    list-style: none;
    color: #666;
}

.article .label, .article .heading {
    opacity: 0;
}

.article .latest-article, .article .more-article .box {
    transform: translate(-200px, 0);
    opacity: 0;
    transition: all .4s ease-out;
}

/* Footer Section */
footer {
    padding:  1rem;
    width: 100%;
}

footer .footer {
    background: var(--black-color);
    border-radius: .7rem;
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--white-color);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #efefef;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
}

footer .footer .container a:hover {
    color: var(--white-color);
}

footer .footer .container span {
    color: #000;
    background: #efefef;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}